<launch>

<!-- Other EMG -->
<env name="ROS_NAMESPACE" value="otheremg"/>
<rosparam param="otheremg/eris/port">/dev/ttyACM1</rosparam>
<node name="eris_otheremg" pkg="eris_emg" type="eris_emg.py" output="screen"/>

<!-- Array EMG -->
<env name="ROS_NAMESPACE" value="array"/>
<rosparam param="array/eris/port">/dev/ttyACM0</rosparam>
<node name="eris_nextflex" pkg="eris_emg" type="eris_nextFlexArray.py" output="screen"/>

<!-- Protocol Code-->
<env name="ROS_NAMESPACE" value=""/>
<node name="protocol" pkg="eris_emg" type="nextFlexArrayProtocol.py" output="screen"/>

</launch>
