<launch>
<param name="/recorder/filename" type="string" value="/home/sensorfusion/DATA/trial"/>
<param name="/features" type="string" value="$(find eris_emg)/config/extractor_etiprotocol.yaml"/>
<include file="$(find recorder)/launch/record_joysticktrigger.launch"/>
<node name="eti" pkg="eris_emg" type="eris_nextFlexAnalog.py"/>
<node name="featmonitor" pkg="features" type="extractfeatures.py"/>
</launch>
