<launch>
<!-- A classifier using signals from the IMU -->

<!-- Eris IMU -->
<env name="ROS_NAMESPACE" value=""/>
<param name="/eris/port" value="/dev/ttyACM0"></param>
<node name="eris_imu" pkg="eris_imu" type="eris_imu.py" />

<!-- Feature Extraction -->
<env name="ROS_NAMESPACE" value=""/>
<node name="features" pkg="features" type="extractfeatures.py">
    <param name="featuresfile" value="$(find ml)/launch/imu_classifier_features.yaml"></param>
</node>

<!-- Classifier -->
<env name="ROS_NAMESPACE" value=""/>
<node name="classifier" pkg="ml" type="classifier.py" output="screen"> 
</node>

<!-- Protocol Code -->
<env name="ROS_NAMESPACE" value=""/>
<rosparam param="session_duration_seconds">120</rosparam>
<remap from="eris/command" to="/eris/command"/>
<node name="protocol"  pkg="eris_imu" type="genericprotocol.py" output="screen"/>

</launch>
